body{
    background: #F5F5F5;
}
.profil-div{
    display: flex;
    align-items: center;/*dikey ortalama*/
    justify-content: center;/*yataty ortalam*/
}

.profil-div span{
    margin-right: 7px;
}

.search-div {
    position: relative;
}
 .search-div i {
    position: absolute;
    left: 20px;
    margin-top: 12px;
}

.menu-item{
        display: flex;
        align-items: center;
}

.menu-item i{
   margin-right: 15px;
   margin-left: 15px;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    padding-left: 50px;
}
.green-card{
    height: 225px;
    border: 1px solid #2BEBC8;
    background: #2BEBC8;
    border-radius: 8px;
}
.container{
    margin-top: 40px;
}
.white-card{
    border: 1px;
    background: #FFFFFF;
    border-radius: 10px;
    height: 100%;
}
.graphic-card{
    height: 146px;
    margin-top: 25px;
    border-radius: 8px;
}
.last-card{
    height: 358px;
    margin-top: 25px;
}
@media only screen and (max-width: 991px) {
    .mobile-menu{
        background-color: #FFFFFF;
        height: 100vh;
    }
    .mobile-search{
        background-color: #ECECEC;
        margin-top: 30px;
        margin-bottom: 50px;
        border-radius: 20px;
        opacity: 0.5;
    }
  }
